In [ ]:
# Update sklearn to prevent version mismatches
#!pip install sklearn --upgrade

In [ ]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
#!pip install joblib

In [7]:
import pandas as pd
import numpy as np

Import our white and red wine data from the csvs

# Read the CSV and Perform Basic Data Cleaning

In [8]:
red_wine_df = pd.read_csv("Resources/winequality-red.csv", sep=';')
white_wine_df = pd.read_csv("Resources/winequality-white.csv", sep=';')
white_wine_df.info()
red_wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
fixed acidity           1599 non-null float64
volatile acidity        1599 non-null float64
citric acid             1599 non-null float64
residual sugar          1599 non-null float64
chlorides               1599 non-null float64
free sulfur dioxide     1599 non-null float64
total sulfur dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

## Balanced (Normalized) Data for White Wine Data (1599 data points) and Red Wine Data (1599 data points)

In [9]:
#take a random sample of white wines to match the red wine data
random_white_df = white_wine_df.sample(1599,random_state=42).reset_index(drop=True)

Only balanced values are baseline condition we can use:

In [10]:
#if we want our only features of the model to have balanced white wine and red wine data, we use this data frame:
baseline_red_df = red_wine_df.copy()
baseline_white_df = random_white_df.copy()
only_balanced_df = pd.concat([baseline_red_df, baseline_white_df])
#only_balanced_df

In [11]:
#counts for each quality score
only_balanced_df.groupby('quality').count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,17,17,17,17,17,17,17,17,17,17,17
4,97,97,97,97,97,97,97,97,97,97,97
5,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146
6,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363
7,502,502,502,502,502,502,502,502,502,502,502
8,73,73,73,73,73,73,73,73,73,73,73

In [12]:
#Suppose we want to take specific ranges of quality scores in only_balanced_df (which does not include colors)

range_balanced_df = only_balanced_df.loc[\
(only_balanced_df["quality"] <= 8 ) & \
(only_balanced_df["quality"] >= 3 )  \
] 

#range_balanced_df

In [13]:
range_balanced_df.groupby('quality').count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,17,17,17,17,17,17,17,17,17,17,17
4,97,97,97,97,97,97,97,97,97,97,97
5,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146
6,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363
7,502,502,502,502,502,502,502,502,502,502,502
8,73,73,73,73,73,73,73,73,73,73,73

Added Color with get dummies (Or in case we want to remove it)

In [16]:
#if we want to include wine colors as features in our model:
color_red_df = red_wine_df.copy()
color_white_df = random_white_df.copy()
color_red_df["color"] = "red"
color_white_df["color"] = "white"
colors_df = pd.concat([color_red_df, color_white_df])
#if we only want to use the balanced data and include the colors of wine:
#0 is red, 1 is white
dummy_colors_df = pd.get_dummies(colors_df, columns=['color'])
dummy_drop_colors_df = dummy_colors_df.drop(columns=["color_red"]).copy()
dummy_rename_colors_df = dummy_drop_colors_df.rename(columns={"color_white":"colors"})
dummy_rename_colors_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,colors
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.7,0.34,0.31,16.4,0.051,20.0,146.0,0.99834,3.06,0.54,9.1,5,1
1595,9.3,0.31,0.49,1.3,0.042,34.0,147.0,0.99480,3.11,0.46,9.8,5,1
1596,6.4,0.17,0.27,6.7,0.036,88.0,223.0,0.99480,3.28,0.35,10.2,6,1
1597,7.5,0.29,0.36,15.7,0.050,29.0,124.0,0.99680,3.06,0.54,10.4,5,1
1598,6.8,0.28,0.29,11.9,0.052,51.0,149.0,0.99544,3.02,0.58,10.4,6,1

If we want to hypertune further, and choose a specfic range of quality scores, so our model predicts a smaller range of quality scores

In [18]:
#For our model that includes our `colors` feature, if we want include a range of quality scores:
range_colors_df = dummy_rename_colors_df.loc[\
(dummy_rename_colors_df["quality"] <= 6 ) & \
(dummy_rename_colors_df["quality"] >= 3 )  \
] 
#range_colors_df

In [19]:
#To show which range we are using
range_colors_df.groupby('quality').count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,colors
quality,,,,,,,,,,,,
3,17,17,17,17,17,17,17,17,17,17,17,17
4,97,97,97,97,97,97,97,97,97,97,97,97
5,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146
6,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363

Add buckets to given range of quality values

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,17,17,17,17,17,17,17,17,17,17,17
4,97,97,97,97,97,97,97,97,97,97,97
5,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146
6,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363
7,502,502,502,502,502,502,502,502,502,502,502
8,73,73,73,73,73,73,73,73,73,73,73

## Created another dataframe that moves quality scores into bins

Created bins for balanced data called: "terrible (1), mediocre (2), great (3) and terrific (4)"
The quality scores range from 0 to 4, 5 to 6, and 7 to 10. We will call them 1,2,3,4

In [22]:
bin_balanced_df = only_balanced_df.copy()
bins = [0, 4, 5, 6, 8]
group_names = [1, 2, 3, 4]
bin_balanced_df["bin_quality"] = pd.cut(bin_balanced_df["quality"], bins, labels=group_names)
bin_qual_df = bin_balanced_df.drop(columns="quality")
bin_qual_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,bin_quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,2
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,2
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,2
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.7,0.34,0.31,16.4,0.051,20.0,146.0,0.99834,3.06,0.54,9.1,2
1595,9.3,0.31,0.49,1.3,0.042,34.0,147.0,0.99480,3.11,0.46,9.8,2
1596,6.4,0.17,0.27,6.7,0.036,88.0,223.0,0.99480,3.28,0.35,10.2,3
1597,7.5,0.29,0.36,15.7,0.050,29.0,124.0,0.99680,3.06,0.54,10.4,2
1598,6.8,0.28,0.29,11.9,0.052,51.0,149.0,0.99544,3.02,0.58,10.4,3

In [23]:
bin_qual_df.groupby("bin_quality").count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,fsd/tsd
bin_quality,,,,,,,,,,,,
1,114,114,114,114,114,114,114,114,114,114,114,114
2,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146
3,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363
4,575,575,575,575,575,575,575,575,575,575,575,575

Create another dataframe that adds colors with bins to test our model.

In [24]:
bins_colors_df = dummy_rename_colors_df.copy()
bins = [0, 4, 5, 6, 8]
group_names = [1, 2, 3, 4]
bins_colors_df["bin_quality"] = pd.cut(bins_colors_df["quality"], bins, labels=group_names)
new_bins_colors_df = bins_colors_df.drop(columns="quality")
new_bins_colors_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,colors,bin_quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,0,2
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,0,2
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,0,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,0,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.7,0.34,0.31,16.4,0.051,20.0,146.0,0.99834,3.06,0.54,9.1,1,2
1595,9.3,0.31,0.49,1.3,0.042,34.0,147.0,0.99480,3.11,0.46,9.8,1,2
1596,6.4,0.17,0.27,6.7,0.036,88.0,223.0,0.99480,3.28,0.35,10.2,1,3
1597,7.5,0.29,0.36,15.7,0.050,29.0,124.0,0.99680,3.06,0.54,10.4,1,2
1598,6.8,0.28,0.29,11.9,0.052,51.0,149.0,0.99544,3.02,0.58,10.4,1,3

In [68]:
new_bins_colors_df.groupby("bin_quality").count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,colors
bin_quality,,,,,,,,,,,,
1,114,114,114,114,114,114,114,114,114,114,114,114
2,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146,1146
3,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363,1363
4,575,575,575,575,575,575,575,575,575,575,575,575

In [45]:
new_col_bal_df = only_balanced_df.copy()
new_col_bal_df["fsd/tsd"] = new_col_bal_df["free sulfur dioxide"]/new_col_bal_df["total sulfur dioxide"]
new_col_bal_df["alc/den"] = new_col_bal_df["alcohol"]/new_col_bal_df["density"]
new_col_bal_df["sug/den"] = new_col_bal_df["residual sugar"]/new_col_bal_df["density"]
col_bal_df = new_col_bal_df.drop(columns=['free sulfur dioxide','total sulfur dioxide',"alcohol","density","residual sugar"])
# col_bal_df

feat_bin_balanced_df = col_bal_df.copy()
bins = [0, 4, 5, 6, 8]
group_names = [1, 2, 3, 4]
feat_bin_balanced_df["bin_quality"] = pd.cut(feat_bin_balanced_df["quality"], bins, labels=group_names)
feat_bin_qual_df = feat_bin_balanced_df.drop(columns="quality")
new_feat_df = feat_bin_qual_df.drop(columns=["pH","citric acid"])
new_feat_df

,fixed acidity,volatile acidity,chlorides,sulphates,fsd/tsd,alc/den,sug/den,bin_quality
0,7.4,0.70,0.076,0.56,0.323529,9.420726,1.904189,2
1,7.8,0.88,0.098,0.68,0.373134,9.831461,2.608347,2
2,7.8,0.76,0.092,0.65,0.277778,9.829488,2.306921,2
3,11.2,0.28,0.075,0.58,0.283333,9.819639,1.903808,3
4,7.4,0.70,0.076,0.56,0.323529,9.420726,1.904189,2
...,...,...,...,...,...,...,...,...
1594,6.7,0.34,0.051,0.54,0.136986,9.115131,16.427269,2
1595,9.3,0.31,0.042,0.46,0.231293,9.851226,1.306795,2
1596,6.4,0.17,0.036,0.35,0.394619,10.253317,6.735022,3
1597,7.5,0.29,0.050,0.54,0.233871,10.433387,15.750401,2
1598,6.8,0.28,0.052,0.58,0.342282,10.447641,11.954513,3

# Select your features (columns)

In [46]:
# Set features. Drop quality, y value. 
X = new_feat_df.drop(columns=['bin_quality'])
X.head()

,fixed acidity,volatile acidity,chlorides,sulphates,fsd/tsd,alc/den,sug/den
0,7.4,0.70,0.076,0.56,0.323529,9.420726,1.904189
1,7.8,0.88,0.098,0.68,0.373134,9.831461,2.608347
2,7.8,0.76,0.092,0.65,0.277778,9.829488,2.306921
3,11.2,0.28,0.075,0.58,0.283333,9.819639,1.903808
4,7.4,0.70,0.076,0.56,0.323529,9.420726,1.904189

# Create a Train Test Split

Use `quality` for the y values

In [47]:
from sklearn.model_selection import train_test_split
#80% train, 20% test. y is this one column
y = new_feat_df['bin_quality']
#random state 42 will have same picks for x test and y test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [48]:
X_train.head()

,fixed acidity,volatile acidity,chlorides,sulphates,fsd/tsd,alc/den,sug/den
1251,7.5,0.58,0.077,0.59,0.450000,9.836395,2.208170
1080,10.3,0.27,0.047,0.51,0.375000,11.862754,1.407445
272,7.2,0.19,0.041,0.60,0.438503,11.276681,3.826017
1187,7.0,0.43,0.085,0.46,0.153846,11.978338,2.013166
212,11.6,0.44,0.059,0.67,0.333333,10.220441,2.104208

# Train the Model using Random Forest

In [49]:
#Train the model
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=1000)
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [50]:
#Test the model
from sklearn.metrics import confusion_matrix, classification_report
predictions = rfc.predict(X_test)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           1       0.50      0.04      0.08        23
           2       0.67      0.74      0.70       287
           3       0.61      0.65      0.63       345
           4       0.64      0.52      0.57       145

    accuracy                           0.64       800
   macro avg       0.60      0.49      0.50       800
weighted avg       0.63      0.64      0.63       800

# Save the Model

In [59]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'feat_eng_new_cols_df.sav'
joblib.dump(predictions, filename)

['feat_eng_new_cols_df.sav']